// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// Import bootstrap icons font.
@import '~bootstrap-icons/font/bootstrap-icons.css';


/* Popup styles */
$popup-width: 320px;
$popup-height: 384px;

body {
  width: $popup-width;
  height: $popup-height;
}
