// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// Import bootstrap icons font.
@import '~bootstrap-icons/font/bootstrap-icons.css';

/* Popup styles */
$popup-width: 320px;
$popup-height: 384px;
$popup-max-height: 400px;

body {
	height: $popup-height;
	max-width: $popup-width;
	max-height: $popup-max-height;
	width: $popup-width;
	overflow: auto;
}

#root {
	min-height: 100%;
	min-width: 100%;
}
